/* Common styles */
* {
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #ffebeb, #ffeeee, #ffc0bb);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

/* Feedback Question Screen */
.feedback-question-container,
.thank-you-screen-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container,
.thank-you-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

/* Heading */
.heading {
  color: #0f172a;
  font-size: 18px;
  margin-bottom: 30px;
}

/* Emoji Section */
.emoji-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emoji-container button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.emoji {
  height: 45px;
  width: 45px;
}

.emoji-container {
  margin-top: 8px;
  font-size: 14px;
  color: #1e293b;
}

/* Thank You Screen */
.heart-emoji {
  height: 55px;
  width: 55px;
  margin-bottom: 20px;
}

.thank-you-text {
  font-size: 24px;
  color: #0f172a;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #475569;
  line-height: 1.5;
}

/* Medium Devices and above */
@media screen and (min-width: 768px) {
  .feedback-container,
  .thank-you-container {
    width: 45%;
    max-width: 600px;
    padding: 40px;
  }

  .heading {
    font-size: 22px;
  }

  .emoji {
    height: 55px;
    width: 55px;
  }
  .emoji-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  .thank-you-text {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .app-container {
    flex-direction: row;
    gap: 20px;
  }

  .feedback-question-container,
  .thank-you-screen-container {
    width: 50%;
  }
}
