/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(to right, #ffebeb, #ffeeee, #ffc0bb);
  height: 100vh;
  width: 100vw;
  padding: 130px;
}
.feedback-container {
  background-color: #ffffff;
  border-radius: 10px;
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
  padding: 30px;
}
.emoji-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}
.emoji {
  height: 50px;
  width: 50px;
}
.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.heart-emoji {
  height: 50px;
  width: 50px;
}
.thank-you-text {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
}
.description {
  color: #1e293b;
  font-size: 20px;
  font-family: 'Roboto';
}
@media screen and (min-width: 576px) and (max-width: 900px) {
  /* .thank-you-container {
    display: none;
  } */
  .app-container {
    background-image: linear-gradient(to right, #ffebeb, #ffeeee, #ffc0bb);
    height: 100vh;
    width: 100vw;
    padding: 130px;
  }
  .feedback-container {
    /* display: block; */
    background-color: #ffffff;
    border-radius: 10px;
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    /* display: block; */
    color: #0f172a;
    font-size: 30px;
    font-family: 'Roboto';
    padding: 30px;
  }
  .emoji-container {
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  .emoji {
    /* display: block; */
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 768px) {
  .feedback-container {
    display: none;
  }
  .thank-you-container {
    display: block;
  }
}
